* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
}

.container {
    background-color: black;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container h1 {
    color: white;
    font-size: 120px;
    font-weight: 400;
    font-family: sans-serif;
    text-align: end;
}
.container p {
    color: white;
    font-size: 64px;
    font-weight: 100;
    font-style: italic;
  }